<div class="d-flex justify-content-center">
  <div class="card" style="width: 18rem; margin-top: 2.5rem;">
      <img src="{{product.thumbnail}}" class="card-img-top" alt="...">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <p class="card-title">{{product.title}}</p>
      </div>
      <div>
        <p class="card-text">${{product.price}}</p>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary w-50" (click)="addToCart(product)">Buy Now</button>
        <button class="btn btn-outline-dark w-50" (click)="showDetails(product.id)">show Details</button>
        <div *ngIf="isInCart()">
          <p class="font text"><i>{{getQuantityInCart()}} articles in cart</i></p>
        </div>
      </div>
    </div>
  </div>
</div>



