<!--
<main class="container">

  &lt;!&ndash; Left Column / Headphones Image &ndash;&gt;


  <div >
    <img src="{{product.images[0]}}" class="card-img">

  </div>


  &lt;!&ndash; Right Column &ndash;&gt;
  <div class="right-column">

    &lt;!&ndash; Product Description &ndash;&gt;
    <div class="product-description">
      <span>{{product.category}}</span>
      <h1>{{product.title}}</h1>
      <p>{{product.description}}</p>
    </div>

    &lt;!&ndash; Product Pricing &ndash;&gt;
    <div class="product-price">
      <span>{{product.price}} DH</span>
      <a href="#" class="cart-btn">Add to cart</a>
    </div>
  </div>
</main>
-->

<!--<body>
<div class="container">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">

          <div class="preview-pic tab-content">
            <div class="tab-pane active"><img src="{{product.thumbnail}}" /></div>
          </div>
          <ul class="preview-thumbnail nav nav-tabs">
            <li *ngFor="let image of product.images;">
              <a data-toggle="tab"><img src="{{image}}" /></a>
            </li>
          </ul>

        </div>
        <div class="details col-md-6">
          <h3 class="product-title">{{product.title}}</h3>
          <p class="product-description">{{product.description}}</p>
          <h4 class="price">current price: <span>{{product.price}}$</span></h4>
          <p class="vote">
            <strong>Rating</strong>
            {{product.rating}}
            <strong>(87 votes)</strong>
          </p>
          <h5 class="sizes">Brand:
            <span class="size" data-toggle="tooltip" title="small">{{product.brand}}</span>
          </h5>
          <div class="action">
            <button class="add-to-cart btn btn-default" type="button">add to cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>-->




<main class="container">

  <!-- Left Column / Headphones Image -->
  <div class="left-column">
    <img src="{{mainImage}}" alt="">

    <div class="small-images-container">
      <button class="button" *ngFor="let image of product.images">
        <img  src="{{image}}" (click)="changeImage(image)" alt="Small Image 1">
      </button>
    </div>
  </div>


  <!-- Right Column -->
  <div class="right-column">

    <!-- Product Description -->
    <div class="product-description">
      <span>{{product.category}}</span>
      <h1>{{product.title}}</h1>
      <p>{{product.description}}</p>
    </div>

    <!-- Product Pricing -->
    <div class="product-price">
      <span>{{product.price}}$</span>
      <button (click)="addToCart()" class="cart-btn">Add to cart</button>

        <p *ngIf="isInCart()" class="font text"><i>{{getQuantityInCart()}} articles in cart</i></p>

    </div>
  </div>
</main>
